<h1>Bebida</h1>

<div>
  <%= link_to 'Editar Bebida', edit_drink_path(@drink) %>
</div>
<dl>
  <% if @drink.image.attached? %>
    <%= image_tag @drink.image, alt: "", title: "Prato", width: "200" %>
  <% end %>
  <dt>Nome:</dt>
  <dd><%= @drink.name %></dd>
  <dt>Descrição:</dt>
  <dd><%= @drink.description %></dd>
  <dt>Calorias:</dt>
  <dd><%= @drink.calories %></dd>
  <dt>Alcoólico:</dt>
  <dd><%= @drink.alcoholic ? 'SIM' : 'NÃO' %></dd>
  <dt>Situação da Bebida:</dt>
  <dd><%= I18n.translate(@drink.status) %></dd>
</dl>

<div>
  <% if @drink.enabled? %>
    <%= button_to 'Desativar', disabled_drink_path(@drink.id) %>
  <% else %>
    <%= button_to 'Ativar', enabled_drink_path(@drink.id) %>
  <% end %>
</div>


<div>
  <h3>Porções</h3>
  <dl>
  <% @drink.portions.each do |portion| %>
    <dt><%= portion.description %>:</dt>
    <dd>R$ <%= portion.real %>,<%= portion.cent.to_s.rjust(2, '0') %></dd>
  <% end %>
  </dl>
</div>