<h1>Novo Marcador</h1>

<%= form_with(model: @tag) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <div>
    <%= f.hidden_field :establishment_id, value: current_establishment.id %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>