<%= form_with(model: @dish, local: true) do |f| %>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %> 
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :calories %>
    <%= f.text_field :calories %>
  </div>
  <div>
    <%= f.hidden_field :establishment_id, value: current_establishment.id %>
  </div>

  <h3>Marcadores</h3>
  <div id="tags-container">
    <%= f.fields_for :tags do |tag_form| %>
      <div class="tag-field">
        <%= tag_form.text_field :name, placeholder: "Nome do marcador" %>
        <%= tag_form.hidden_field :establishment_id, value: current_establishment.id %>
        <%= tag_form.check_box :_destroy %>
        <%= tag_form.label :_destroy, "Remover" %>
      </div>
    <% end %>
  </div>
  
  <button type="button" onclick="addTag()">Adicionar mais uma tag</button>

  <div><%= f.submit 'Enviar' %></div>
<% end %>

<script>
  function addTag() {
    const tagsContainer = document.getElementById('tags-container');
    
    const newTagDiv = document.createElement('div');
    newTagDiv.classList.add('tag-field');
    
    newTagDiv.innerHTML = `
      <input type="text" name="dish[tags_attributes][][name]" placeholder="Nome do marcador">
      <input type="hidden" name="dish[tags_attributes][][id]">
      <input type="checkbox" name="dish[tags_attributes][][_destroy]">
      <label>Remover</label>
    `;
    
    tagsContainer.appendChild(newTagDiv);
  }
</script>