<%= form_with(model: @dish, local: true) do |f| %>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %> 
  </div>
  <div id="name_dish">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :calories %>
    <%= f.text_field :calories %>
  </div>
  <div>
    <%= f.hidden_field :establishment_id, value: current_establishment.id %>
  </div>

  <h3>Marcadores</h3>
  <div id="tags-container">
    <%= f.fields_for :tags do |tag_form| %>
      <div class="tag-field">
        <%= tag_form.label :name, 'Marcador 1'%>
        <%= tag_form.text_field :name, placeholder: "Nome do marcador" %>
        <%= tag_form.hidden_field :establishment_id, value: current_establishment.id %>
        <%= tag_form.check_box :_destroy %>
        <%= tag_form.label :_destroy, "Remover" %>
      </div>
    <% end %>
  </div>
  
  <button type="button" onclick="addTag()">Adicionar mais uma tag</button>

  <div><%= f.submit 'Enviar' %></div>
<% end %>

<script>
  var index = 0;
  function addTag() {
    const tagsContainer = document.getElementById('tags-container');
    index = index + 1;
    const newTagDiv = document.createElement('div');
    newTagDiv.classList.add('tag-field');
    
    newTagDiv.innerHTML = `
      <label for="dish_tags_attributes_${index}_name">Marcador ${index + 1}</label>
      <input type="text" name="dish[tags_attributes][${index}][name]" 
        id="dish_tags_attributes_${index}_name" placeholder="Nome do marcador">
      <input type="hidden" name="dish[tags_attributes][${index}][id]">
      <input type="checkbox" name="dish[tags_attributes][${index}][_destroy]" id="dish_tags_attributes_${index}__destroy">
      <label for="dish_tags_attributes_${index}__destroy">Remover</label>
    `;
    
    tagsContainer.appendChild(newTagDiv);
  }
</script>