<h1>Pratos</h1>

<div>
  <%= link_to 'Cadastrar Prato', new_dish_path %>
</div>
 <% @dishes.each do |dish| %>
  <div id=<%= dom_id(dish) %>>
    <h3><%= link_to dish.name, dish_path(dish.id) %></h3>
    <dl>
      <% if dish.image.attached? %>
        <%= image_tag dish.image, alt: "", title: "Prato", width: "200" %>
      <% end %>
      <dt>Nome:</dt>
      <dd><%= dish.name %></dd>
      <dt>Situação do Prato:</dt>
      <dd><%= I18n.translate(dish.status) %></dd>
    </dl>
  </div>
<% end %>

<% if @dishes.empty? %>
  <p>Não existem Pratos cadastrados</p>
<% end %>