<h1>Prato</h1>

<div>
  <%= link_to 'Editar Prato', edit_dish_path(@dish) %>
</div>
<dl>
  <% if @dish.image.attached? %>
    <%= image_tag @dish.image, alt: "", title: "Prato", width: "200" %>
  <% end %>
  <dt>Nome:</dt>
  <dd><%= @dish.name %></dd>
  <dt>Descrição:</dt>
  <dd><%= @dish.description %></dd>
  <dt>Calorias:</dt>
  <dd><%= @dish.calories %></dd>
  <dt>Situação do Prato:</dt>
  <dd><%= I18n.translate(@dish.status) %></dd>
</dl>

<div>
  <% if @dish.enabled? %>
    <%= button_to 'Desativar', disabled_dish_path(@dish.id) %>
  <% else %>
    <%= button_to 'Ativar', enabled_dish_path(@dish.id) %>
  <% end %>
</div>

<div>
<div>
  <%= link_to 'Cadastrar Marcadores', new_dish_dish_tag_path(@dish) %>
</div>
<dl>
  <dt><strong>Marcadores:</strong></dt>
  <dd>
    <% @tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </dd>
</dl>
</div>

<div>
  <h3>Porções</h3>
  <dl>
  <% @dish.portions.each do |portion| %>
    <dt><%= portion.description %>:</dt>
    <dd>R$ <%= portion.real %>,<%= portion.cent.to_s.rjust(2, '0') %></dd>
    <%= link_to 'Editar Porção', edit_dish_portion_path(dish_id: @dish.id, id: portion.id) %>
  <% end %>
  </dl>
</div>

<div>
  <%= link_to 'Cadastrar Porção', new_dish_portion_path(dish_id: @dish.id) %>
</div>

<h3>Histórico de Preços</h3>

<table id="price-histories">
  <thead>
    <tr>
      <th>Porções</th>
      <th>Preços</th>
      <th>Última atualização</th>
    </tr>
  </thead>
  <tbody>
  
  <% @portions.each do |portion| %>
    <% portion.price_histories.each do |price| %>
  
      <tr>
        <td><%= portion.description %></td>
        <td><%= price.real %>,<%= portion.cent.to_s.rjust(2, '0') %></td>
        <td><%= price.last_update %></td>
      </tr>
    
    <% end %>
  <% end %>
  </tbody>
</table>