<h1>Prato</h1>

<div>
  <%= link_to 'Editar Prato', edit_dish_path(@dish) %>
</div>
<dl>
  <% if @dish.image.attached? %>
    <%= image_tag @dish.image, alt: "", title: "Prato", width: "200" %>
  <% end %>
  <dt>Nome:</dt>
  <dd><%= @dish.name %></dd>
  <dt>Descrição:</dt>
  <dd><%= @dish.description %></dd>
  <dt>Calorias:</dt>
  <dd><%= @dish.calories %></dd>
</dl>