<%= form_with(model: [@dish_or_drink, @portion]) do |f| %>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :real %>
    <%= f.number_field :real %>
  </div>
  <div>
    <%= f.label :cent %>
    <%= f.number_field :cent %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>