<h1>Estabelecimento</h1>

<div>
  <%= link_to 'Editar Estabelecimento', edit_establishment_path(@establishment) if user_signed_in? %>
</div>
<dl>
  <dt>Dono do estabelecimento:</dt>
  <dd><%= @establishment.user.name %> | <%= @establishment.user.email %></dd>
  <dt>Código:</dt>
  <dd><%= @establishment.code %></dd>
  <dt>Nome fantasia:</dt>
  <dd><%= @establishment.brand_name %></dd>
  <dt>Nome companhia:</dt>
  <dd><%= @establishment.company_name %></dd>
  <dt>CNPJ:</dt>
  <dd><%= @establishment.cnpj %></dd>
  <dt>Endereço:</dt>
  <dd><%= @establishment.full_address %></dd>
  <dt>Telefone:</dt>
  <dd><%= @establishment.phone %></dd>
  <dt>E-mail:</dt>
  <dd><%= @establishment.email %></dd>
</dl>

<div>
  <%= link_to 'Pratos', dishes_path if user_signed_in? %>
</div>

<div>
  <%= link_to 'Bebidas', drinks_path if user_signed_in? %>
</div>

<div>
  <%= link_to 'Cadastrar Marcadores', new_tag_path if user_signed_in? %>
</div>

<dl>
  <dt><strong>Marcadores:</strong></dt>
  <dd>
    <% @establishment.tags.each do |tag| %>
      <%= tag.name %> | 
    <% end %>
  </dd>
</dl>
</div>

<div>
  <%= link_to 'Cadastrar Horário', new_hours_operation_path if user_signed_in? %>
</div>

<table>
  <thead>
    <tr>
      <th>Dia da semana</th>
      <th>Abertura</th>
      <th>Fechamento</th>
      <th>Fechado</th>
      <th><%= 'Ações' if user_signed_in? %></th>
    </tr>
  </thead>
  <tbody>
    <% @hours_operations.each do |hour| %>
      <tr>
        <td><%= I18n.translate(hour.weekday) %></td>
        <td><%= hour.opening_time.strftime("%H:%M") %></td>
        <td><%= hour.closing_time.strftime("%H:%M") %></td>
        <td><%= hour.closed ? 'Fechado' : 'Aberto' %></td>
        <td><%= link_to "editar", edit_hours_operation_path(hour.id) if user_signed_in? %></td>
      </tr>
    <% end %>
  </tbody>
</table>